<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- header -->
    <section class="header">
        <a href="#" class="logo"> Hair dresser </a>
        <nav class="navbar">
            <div id="close-navbar" class="fas fa-times"></div>
            <a href="http://127.0.0.1:5000/#home">home</a>
            <a href="http://127.0.0.1:5000/#about">about</a>
            <a href="http://127.0.0.1:5000/#services">services</a>
            <a href="http://127.0.0.1:5000/#styles">styles</a>
            <a href="http://127.0.0.1:5000/#pricing">pricing</a>
            <a href="http://127.0.0.1:5000/#blog">blogs</a>
            <a href="http://127.0.0.1:5000/#review">review</a>
        </nav>
        <div id="menu-btn" class="fas fa-bars"></div>
    </section>

    {% block content %}{% endblock %}
</body>
</html>
