{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<style>
        body {
            /* Указываем фоновое изображение и его свойства */
            background-size: cover;
            background-attachment: fixed;
        }

        .alert {
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 15px;
            font-weight: bold;
            font-size: 24px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.5);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
            font-family: Courier, monospace; /* Используем шрифт Roboto */
        }

        .alert-error {
            color:  #8B0000; /* Цвет бордовый */
        }

        .alert-success {
            color: #008080;
        }

</style>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <section class="visit" id="visit">
        <h1 class="heading">Login</h1>

        <div class="row">
            <form method="POST" action="/login">
                <h3>Welcome back!</h3>
                <div class="inputBox">
                      <input type="text"
                             class="form-control"
                             id="username"
                             name="username"
                             placeholder="Username">
                </div>
                <div class="inputBox">
                    <input type="password"
                           class="form-control"
                           id="password"
                           name="password"
                           placeholder="Password">
                </div>
                <br>
                <input type="submit" value="Login" class="btn">
            </form>

            <div class="image">
                <img src="../static/images/contact.png" alt="">
            </div>
        </div>

        <h1><p>Don't have an account yet? <a href="/registration">Register here</a></p></h1>
</section>
</body>
{% endblock %}
